.Weather {
  padding: 16px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 6px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .search-bar {
  background-color: #eaf6f6;
  border: none;
  border-radius: 6px;
  height: 40px;
  width: 80%;
}

.Weather .search-button {
  width: 15%;
  text-align: center;
  background-color: #66bfbf;
  border-radius: 6px;
  margin-left: -2px;
}

.Weather .search-button:hover {
  color: white;
}

.Weather .WeatherInfo {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #f76b8a;
  font-size: 62px;
  font-weight: 500;
  margin-bottom: 20px;
}

.search-button .search-icon {
  display: none;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #f76b8a;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 90px;
  width: 90px;
  margin-right: 10px;
  float: left;
}

.Weather .temperature {
  font-size: 62px;
  font-weight: bold;
  color: #66bfbf;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -35px;
  line-height: 1;
  margin-left: 5px;
  color: #66bfbf;
}

@media (max-width: 960px) {
  .Weather h1 {
    text-align: center;
  }

  .Weather li {
    justify-content: space-between;
    text-align: center;
  }

  .search-button .search-text {
    display: none;
  }

  .search-button .search-icon {
    line-height: 39px;
    display: inline;
    font-size: 20px;
  }

  .Weather .unit {
    display: flex;
  }

  .Weather .humidity-wind {
    display: flex;
    text-align: center;
    margin-left: -60px;
  }

  .Weather .temperature {
    display: flex;
    text-align: center;
    margin-top: 50px;
  }

  .Weather .main-img {
    justify-content: center;
  }
}
