.WeatherForecast {
  text-align: center;
  margin-bottom: 20px;
}

.WeatherForecast-Temperature-Min {
  opacity: 0.6;
  margin-left: 5px;
}

.weather-forecast-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather-Forecast-Image {
  margin-right: 0 !important;
}
